doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title z-module_2
        include mixins
    body
        include sidebar
        include header
        div.services
            div.container
                div.services__inner
                    div.breadcrumb.services__breadcrumb
                        +breadcrumb(['Главная', 'Услуги', 'Разрабатываем маркетинг-план: дорожная карта достижения целей'])

                    h1.services__title.title Разрабатываем мар&shy;кет&shy;инг-план: дорож&shy;ная карта достиже&shy;ния целей
                    img.services__img(src=require('../assets/images/icons/oktagon.svg'))

                    ul.services__list.cube-list
                        +cubeListItems(['Делаем прогноз развития рынка',
                          'Проводим сравнительный анализ стратегий конкурентов',
                          'Определяем точки роста', 'Ставим объективные цели',
                          'Разрабатываем план и модель контроля его выполнения'])

                    div.services-description
                        h2.services-description__title.title Описание услуги
                        div.services-description__text
                            p.
                                Любая компания ставит себе цель непрерывного развития, которая
                                 отражается в итоговом плане действий по ее достижению. Основным
                                  измерением достижения цели является рост прибыли по результатам
                                  планируемого периода. Понимание траектории развития рынка,
                                   положения и стратегий его основных участников, позволяет
                                   правильно оценить свои возможности и поставить объективно достижимые цели.
                            p.
                                Конкретный план действий по достижению целей разрабатывается
                                 на основе потребительских трендов и прогноза действий конкурентов.
                            p.
                                Математическая модель контроля позволяет на основе сравнения плановых
                                 и фактических измеряемых величин контролировать ситуацию
                                  и своевременно предпринимать необходимые действия.
                            p.
                                Основные этапы разработки маркетинг-плана:


                        ul.services-description__list.point-list
                            +pointListItems(['Интервью с сотрудниками компании и потребителями',
                              'Сбор информации о рынках из открытых источников',
                              'Анализ внешней информации: SWOT, BCG, сравнительный анализ по 4Р маркетинга',
                              'Анализ внутренней информации: динамика основных показателей с определением причин изменений',
                              'Совместное обсуждение целей и плана действий'])
                    div.services__form.form-bg
                        +formElement
            include footer