doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title z-module_2
        include mixins

    body
        include sidebar
        include header
        div.training
            div.container
                div.training__inner
                    div.training__head
                        +breadcrumb(['Главная', 'Тренинги', 'Бизнес-тренинг «Маркетинг – технология роста»'])

                        h1.training__title.title Бизнес-трен&shy;инг «Маркет&shy;инг – техно&shy;логия роста»

                        div.training__text
                            p Для кого: руководители компаний, маркетологи, продавцы
                            p Цели бизнес-тренинга:

                        ul.training__list
                            +cubeListItems(['Определение маркетинга как технологии роста',
                              'Организация маркетинга как сквозного бизнес-процесса',
                              'Получение практических навыков применения технологии маркетинга'])

                        button.training__btn.btn(type='button') Подробнее

                    div.training-program
                        h2.training-program__title.title Программа бизнес-тренинга

                        h3.training-program__subtitle.title Функция маркетинга как бизнес-технологии
                        ul.training-program__list.training-program__tech-list.point-list
                            +pointListItems(['Рынок как динамическая система взаимодействия потребительской и конкурентной сред',
                              'Поиск точек роста в непрерывно меняющейся рыночной среде',
                              'Прибыль компании как производная от управления маркетингом',
                              'Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей'])

                        h3.training-program__subtitle.title Практический инструментарий
                        ul.training-program__list.training-program__tools-list.point-list
                            +pointListItems(['Количественные и качественные методы исследования рынка. Первичная информация как основа формирования эффективной стратегии. Отсутствие системности в получении и обработке информации – ключевые проблемы. Целеполагание на основе исследований.',
                              'Формирование товарной матрицы. Технология категорийного менеджмента. Кросс -конкурентный анализ, определение ролей продукта в товарной матрице.',
                              'Ценообразование на основе рыночной ценности продукта. Выбор ценового позиционирования относительно конкурентов. Управление маржинальностью.',
                              'Управление коммуникациями с рынком. «Золотое» правило продвижения. Правила выбора каналов коммуникаций. Модели оценки эффективности затрат. Технологии интернет-маркетинга как эффективное дополнение к традиционным каналам продвижения. Основные ошибки в стратегии продвижения',
                              'Аналитика данных. Оцифрованная картина рынка как основа принятия эффективных решений. Типовые формы анализа основных показателей.'])

                        h3.training-program__subtitle.title Организация маркетинга в компании
                        ul.training-program__list.training-program__organization-list.point-list
                            +pointListItems(['Принципиальная схема бизнес-процесса маркетинга. Наиболее узкие места. Критерии оценки эффективности',
                              'Маркетинг-план как дорожная карта развития. Структура. Этапы планирования. Контрольные точки выполнения.',
                              'Взаимодействие служб маркетинга и продаж как основа успешной реализации планов. Устранение разрывов в понимании рыночной ситуации. Создание общего информационного поля.'])

                        h3.training-program__subtitle.title Кейсы-примеры:
                        ul.training-program__list.training-program__cases-list.point-list
                            +pointListItems(['«Догнать и перегнать лидера рынка»',
                              '«Увеличить прибыль на падающем рынке»',
                              '«Comeback бывшего лидера»',
                              '«Повышаем маржинальность, не выходя из кабинета»'])

                        h3.training-program__subtitle.title Кейсы-примеры:
                        p.training-program__cases-text.
                            С заказчиком предварительно согласуется наиболее актуальная проблема.
                            В заключительной части тренинга в ходе совместного обсуждения определяются
                            подходы к ее решению. Результатом является определение целей и плана действий
                            по их достижению.

                        h3.training-program__subtitle.title Бонусы
                        p.training-program__bonuses-text.
                            5 часов бесплатных консультаций в течение месяца после проведения тренинга.

                            Набор шаблонов для анализа ключевых показателей.

                        h3.training-program__subtitle.title Преимущества бизнес-тренинга:
                        ul.training-program__list.training-program__advantages-list.point-list
                            +pointListItems(['Составлен на основе опыта решения конкретных задач',
                              'Только необходимый минимум теории, не рассматривается плохо применяемый на практике инструментарий',
                              'Акцент на реальных примерах с разбором ошибок',
                              'Направлен на практическую реализацию, начиная с завтрашнего дня'])

                        h3.training-program__subtitle.title Форматы проведения:
                        ul.training-program__list.training-program__formats-list.point-list
                            +pointListItems(['Групповой онлайн-формат, продолжительность 3 дня, по 4 часа в день',
                              'Индивидуальный онлайн-формат, продолжительность 2 дня, по 4 часа в день',
                              'групповой офлайн-формат, продолжительность 2 дня, по 8 часов в день'])

                    div.training__form
                        +formElement
        include footer






