@media screen and (max-width: 1400px) {
  .container {
    width: 1170px;
  }

  .training-list {
    &__item {
      &-left {
        width: 47%;
      }

      &-right {
        width: 47%;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }

  .consultation {
    &__bg {
      background-size: contain;
      background-position: center 140px;

    }

    &__block {
      padding-bottom: 185px;
    }

    &__inner {
      padding-bottom: 80px;
    }

    &__list {
      padding: 0;

      li {
        width: 340px;
      }
    }
  }

  .menu {
    &__list {
      width: 500px;
      margin-right: 50px;
      display: flex;
      justify-content: space-between;

      li {
        margin-right: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }


  .consultation {
    font-size: 16px;
    line-height: 19px;

    &__inner {
      padding-bottom: 68px;
    }

    &__title {
      font-size: 28px;
      line-height: 34px;
    }

    &__subtitle {
      font-size: 18px;
      line-height: 22px;
      margin-top: 6px;
    }

    &__text {
      width: 300px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 4px;
    }

    &__bg {
      background-image: url('../assets/images/bg-consultation-medium.svg');
      background-position: center 32px;
      background-repeat: no-repeat;
    }

    &__btn {
      margin-top: 14px;
    }

    &__block {
      padding-top: 34px;
      padding-bottom: 99px;
    }

    &__list {
      padding-left: 30px;

      li {
        gap: 28px;

        span {
          width: 230px;

        }

        &:nth-child(odd) {
          margin-bottom: 48px;
        }
      }
    }

  }

  .services-links {
    padding-top: 0;
    padding-bottom: 42px;

    &__title {
      margin-left: 35px;
      margin-bottom: 46px;
      font-size: 30px;
      line-height: 37px;
    }
  }


  .puzzle-block {
    &__first {
      display: none;
    }

    &__link:nth-child(1) {
      img {
        width: 68.74px;
        height: 57.4px;
      }
    }

    &-col {
      min-height: 249px !important;
    }

    &__second {
      &-bottom {
      }
      &-top a p {
        margin: 0 auto;
      }
    }

    &__link:nth-child(2) {
      img {
        width: 38px;
        height: 60px;
      }
    }

    &__link:nth-child(3) {
      img {
        width: 63px;
        height: 60px;
      }
    }

    &__link:nth-child(4) {
      img {
        width: 40px;
        height: 72px;
      }
    }

    .hidden-block {
      display: flex;
    }

    &__second {
      &-top {
        flex-direction: column;

        a {
          display: block;

          p {
            max-width: 253px;
          }
        }

        img {
          margin-bottom: 30px;
        }
      }
    }
  }

  .training-list {
    &__item {
      padding: 35px;

      &-title {
        font-size: 26px;
        line-height: 34px;
      }

      &-list {
        li {
          gap: 25px;
        }
      }

      &-left {
        width: 47%;
      }

      &-right {
        width: 47%;
      }
    }
  }

  .menu {
    display: none;
  }

  .burger {
    display: inline-block;

    &-menu {

    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }

  .services-links {

    &__title {
      margin-left: 0;
      margin-bottom: 23px;
      margin-top: 100px;
      text-align: center;
    }
  }

  .btn {
    font-size: 13px;
  }

  .consultation {

    &__bg {
      background-image: url('../assets/images/bg-consultation-small.svg');
      background-position: center 32px;
      background-repeat: no-repeat;
      background-size: unset;
    }

    &__block {
      padding-bottom: 191px;
      padding-top: 203px;
      padding-left: 0;
      text-align: center;
    }

    &__text {
      margin: 16px auto 10px;
    }

    &__list {
      width: 100%;
      margin-bottom: 80px;
      flex-wrap: nowrap;
      gap: 47px;

      li {
        width: 100%;
        margin-bottom: 0 !important;

        span {
          width: 100%;
        }
      }
    }
  }

  .breadcrumb {
    display: none;
  }

  .training-list {
    &__list {
      margin-top: 0;
    }

    &__item {
      &-inner {
        flex-direction: column;
      }

      &-mobile-list {
        display: flex !important;
      }

      &-left {
        margin-top: 30px;
        width: 100%;
      }

      &-right {
        width: 100%;
      }
    }
  }

  .training {
    &__title {
      font-size: 36px;
      line-height: 45px;
    }
  }

  .services {
    &__img {
      top: 48px;
    }

    &__form {
      padding-top: 100px;
    }

    &__title {
      margin-top: 0;
    }
  }

}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .puzzle-block {
    &__second-top {
      height: 300px;

      p {
        max-width: 495px;
      }
    }

    &__second-bottom {
      height: 300px;
      margin-bottom: 15px;
      margin-left: 0 !important;

      p {
        max-width: 495px;
      }
    }
  }

  .form {
    &__inner {
      padding: 30px;
    }
  }


  .training-list {
    &__item {
      padding: 20px;

      .cube-list {
        li {
          img {
            width: 18px;
            height: 20px;
          }
        }
      }

      &-mobile-list.cube-list {
        li {
          gap: 20px;
        }
      }
    }
  }

  .training {
    &__title {
      margin-top: 0;
      font-size: 30px;
      line-height: 40px;
    }

    &__form {
      padding-top: 100px;
    }

    &__btn {
      margin-left: 0;
    }

    &__list {
      padding-left: 0;
    }

    .point-list {
      padding-left: 0;
    }

    &-program {
      margin-top: 100px;

      &__bonuses-text {
        padding-left: 0;
      }

      &__cases-text {
        padding-left: 0;
      }
    }
  }

  .services {
    font-size: 16px;

    &__list {
      padding-left: 10px;
    }

    &__img {
      display: none;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
    }

    &-description {
      &__list {
        padding-left: 20px;
      }
    }
  }
}