.consultation {
  position: relative;

  &__bg {
    background-image: url('../assets/images/bg-solution.svg');
    background-position: center 90px;
    background-repeat: no-repeat;
  }

  &__inner {
    padding: 91px 0 125px;
  }

  &__block {
    padding-top: 127px;
    padding-left: 30px;
    padding-bottom: 266px;
  }

  &__title {
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__text {
    max-width: 435px;
    margin-top: 22px;
    font-size: 22px;
    line-height: 26px;
  }

  &__btn {
    padding: 14px 32px;
    margin-top: 30px;
  }

  &__list {
    height: 164px;
    padding: 0 99px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;

    li {
      width: 381px;
      display: flex;
      align-items: center;
      gap: 41px;

      &:nth-child(odd) {
        margin-bottom: 76px;
      }

      span {
        width: 282px;
      }

      img {
        width: 35px;
        height: 38px;
      }
    }
  }

}

.bg-container {
  width: 100%;
  //background-image: url('../assets/images/bg-consultation.svg');
  background-size: cover;
  background-position: center 90px;
  background-repeat: no-repeat;
}

.services-links {
  padding: 0 15px;
}

.puzzle-block {
  gap: 15px;
  text-align: center;
  color: #fff;

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &-col {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    &:hover {
      background-color: #5391DC;
    }
  }

  &__first {
    min-height: 507px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #6CA7EF;


    img {
      margin-bottom: 30px;
    }

    p {
      max-width: 270px;
    }
  }

  &__second {
    &-top {
      min-height: 164px;
      border-radius: 20px;
      background-color: #6CA7EF;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        flex-direction: row;
      }

      p {
        max-width: 495px;
      }
    }

    &-bottom {
      min-height: 328px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #6CA7EF;

      img {
        margin-bottom: 30px;
      }

      p {
        max-width: 213px;
      }

      &:last-child {
        margin-left: 15px;
      }
    }
  }

  .hidden-block {
    display: none;
    margin-bottom: 15px;
    margin-right: 15px;
  }
}
